<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>0.1</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>push_notifications</string>
			<key>Title</key>
			<string>Enable push notifications?</string>
			<key>TrueValue</key>
			<true/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>MtGox</string>
			<key>Key</key>
			<string>exchange_market</string>
			<key>Title</key>
			<string>Exchange market</string>
			<key>Titles</key>
			<array>
				<string>MtGox</string>
				<string>CoinBase</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>MtGox</string>
				<string>CoinBase</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>USD</string>
			<key>Key</key>
			<string>currency</string>
			<key>Title</key>
			<string>Currency</string>
			<key>Titles</key>
			<array>
				<string>USD</string>
				<string>EUR</string>
				<string>SEK</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>USD</string>
				<string>EUR</string>
				<string>SEK</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>Key</key>
			<string>spiceLevel</string>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>Title</key>
			<string>Spice Level</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
